<mat-toolbar color="accent">
    <!-- Contenedor para el título y menú -->
    <div class="menu-container">
      <!-- Título -->
      <span class="title">Ciudad Patrimonio Mundial (CPM)</span>
  
      <!-- Menú de navegación -->
      <div class="menu">

        <ng-container *ngIf="userRole==='student'">
          <button mat-button routerLink="/librosEstudiante">Libros</button>
          <button mat-button routerLink="/prestamosEstudiante">Historial Prestamos</button>
          <button mat-button routerLink="/perfilEstudiante">Perfil</button>
        </ng-container>
        <ng-container *ngIf="userRole==='admin'">
          <button mat-button routerLink="/librosAdmin">Administración Libros</button>
          <button mat-button routerLink="/prestamosAdmin">Administración Prestamos</button>
          <button mat-button routerLink="/usuariosAdmin">Administración Usuarios</button>
        </ng-container>
      </div>
    </div>
  
    <!-- Espaciador para empujar el botón de logout -->
    <span class="spacer"></span>
  
    <!-- Botón de Logout -->
    <button
      mat-flat-button
      color="primary"
      class="logout-btn"
      (click)="showLogoutConfirmation()"
      aria-label="Cerrar sesión"
    >
      Salir
    </button>
  </mat-toolbar>
  
  <!--Contenido Dinamico-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>