<mat-toolbar color="accent">
    <!-- Contenedor para el título y menú -->
    <div class="menu-container">
      <!-- Título -->
      <span class="title">Ciudad Patrimonio Mundial (CPM)</span>
  
      <!-- Menú de navegación -->
      <div class="menu">

        <ng-container *ngIf="userRole==='student'">
          <button mat-button routerLink="/librosEstudiante">Libros ESTUDIANTES</button>
          <button mat-button routerLink="/prestamosEstudiante">Prestamos ESTUDIANTES</button>
          <button mat-button routerLink="/perfilEstudiante">Perfil ESTUDIANTES</button>
        </ng-container>
        <ng-container *ngIf="userRole==='admin'">
          <button mat-button routerLink="/librosAdmin">Libros ADMIN</button>
          <button mat-button routerLink="/prestamosAdmin">Prestamos ADMIN</button>
          <button mat-button routerLink="/usuariosAdmin">Usuarios ADMIN</button>
        </ng-container>
      </div>
    </div>
  
    <!-- Espaciador para empujar el botón de logout -->
    <span class="spacer"></span>
  
    <!-- Botón de Logout -->
    <button
      mat-flat-button
      color="warn"
      class="logout-btn"
      (click)="showLogoutConfirmation()"
      aria-label="Cerrar sesión"
    >
      Salir
    </button>
  </mat-toolbar>
  
  <!--Contenido Dinamico-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>