<div class="social-media-container">
    <mat-card class="social-card" *ngFor="let social of socialMedia">
      <mat-card-header>
        <mat-card-title><p class="tituloA">{{ social.name }}</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="colorLetras">{{ social.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openLink(social.link)" class="centered-button">
          Visitar {{ social.name }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  